body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color:#515cff;
  color: white;
  width: 100%;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #000;
  border-radius: 5px;
  color: #515cff;
  text-align: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.imagen-cerrajero {
  width: 10%; /* La imagen ocupa el ancho de la tarjeta */
  height: auto; /* Mantiene la proporción original */
  border-radius: 4px;
}

.imagen-reducida {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.urgencia {
  color: #ff00ff;
  font-size: 30px;
}

p {
  text-align: center;
  font-size: 20px;
  margin: 5px 16px 16px;
  /* Ajusta el margen */
}

.tarjetas-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribuye las tarjetas con espacio uniforme */
  gap: 5px; /* Espacio entre tarjetas */
  padding: 20px;
}

.tarjeta {
  width: 200px; /* Define el ancho de cada tarjeta */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  background-color: #979292;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagen-cerrajero {
  border-radius:50%;
  width: 90%;
  /* Aumenta el ancho de la imagen */
  max-width: 300px;
  /* Ajusta el ancho máximo de la imagen */
  height: 40%;
  
  /* Mantiene la proporción */
}

h2 {
  font-size: 24px;
  /* Tamaño del título */
  text-align: center;
  margin-top: 8px;
}

p {
  font-size: 16px;
  /* Tamaño del texto de descripción */
  text-align: center;
  margin: 5px 16px 16px;
}
/* Estilo para centrar la sección del formulario */
#contacto {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Hace que la sección ocupe toda la altura de la ventana */
  background-color:#000; /* Opcional: fondo claro para resaltar el formulario */
  padding: 20px;
  box-sizing: border-box;
}

/* Estilo del formulario */
#form-contacto {
  width: 100%;
  max-width: 200px; /* Limita el ancho máximo del formulario */
  padding: 20px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 8px;
}

/* Espaciado entre los elementos del formulario */
#form-contacto label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#form-contacto input,
#form-contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  
  border-radius: 4px;
}

#form-contacto button {
  width: 110%;
  padding: 10px;
  background-color: #007bff;
  
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#form-contacto button:hover {
  background-color: #0056b3;
}
footer{
  color: #007bff;
}


/* Media Queries para pantallas más pequeñas */
@media (max-width: 600px) {
  .tarjeta {
    flex: 1 1 100%;
    /* Ocupa el 100% del ancho en pantallas pequeñas */
  }
}

/* Media Queries para pantallas más pequeñas */