* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000;
}

header {
  background-color: #000080;
  color: white;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

h3 {
  color: #0f2591;
  justify-content: center;
  font-size: 20px;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #000;
  border-radius: 5px;
  color: #515cff;
  text-align: center;
}

.urgencia {
  color: #ff00ff;
  font-size: 30px;
}

.tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.tarjeta {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex: 1 1 200px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.imagen-cerrajero {
  width: 80%;
  max-width: 200px;
  height: auto;
}

.imagen-reducida {
  width: 200px;
}

h2 {
  text-align: center;
  margin-top: 8px;
}

p {
  text-align: center;
  font-size: 20px;
  margin: 5px 0 16px;
}

#contacto {

  padding: 20px;
  border-radius: 8px;

}

#form-contacto {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#form-contacto label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#form-contacto input,
#form-contacto textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#form-contacto button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#form-contacto button:hover {
  background-color: #0056b3;
}

footer {
  color: #3a92e9;
  background-color: #000080;
  text-align: center;
  padding: 10px 0;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    /* Cambiar la dirección de la navegación */
  }

  .tarjeta {
    width: 90%;
    /* Ajustar el ancho de las tarjetas en pantallas pequeñas */
  }
}