* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color:#000;
  }
  
  header {
    background-color: #0b0c0b;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  section {
    margin: 20px;
    padding: 20px;
    background-color:#000;
    border-radius: 5px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: aliceblue;
  }
  
  button {
    background-color:#000;
    color: #000;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .contenedor {
    width: 20%;  /* El contenedor ocupa el 50% del ancho de la pantalla */
  }
  
  .imagen-reducida {
    width: 100%;  /* La imagen se adapta al ancho del contenedor */
    height: auto; /* Mantiene la proporción original */
  }
  